{% extends "index.html" %}
{% from "formhelpers.html" import render_field %}
{% block title %}Add User{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<div>
<ul class="nav nav-tabs actions-nav">
  <li>
    <a href="/users" title="List of Users">List</a>
  </li>
  {% if  current_user.can_create: %}
  <li class="active">
    <a href="#" title="Create New User">Create</a>
  </li>
  {% endif %}
</ul>
    <form class="form-signin col-md-6" role="form" method="post" action="">
      {{ form.csrf_token }}
      <p>
        {{ render_field(form.username, type="text", class="form-control", autofocus="true", placeholder="username") }}
      </p>
      <p>
        {{ render_field(form.email, type="text", class="form-control", placeholder="email") }}
      </p>
      <p>
        {{ render_field(form.password, type="password", class="form-control", placeholder="password") }}
      </p>
      <p>
        {{ render_field(form.confirm, type="password", class="form-control", placeholder="confirm") }}
      </p>
     <p>
      <div class="panel panel-default">
          <div class="panel-heading" align="center">Access rights</div>
          <div class="panel-body">
              <input type='hidden' id="can_create_hv" name="can_create_hv" value="{{ form.can_create.data }}">
              <input type="checkbox" id="can_create" class="action-checkbox" title="Can create users/customers/tasks."><b> Create </b>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <input type='hidden' id="can_update_hv" name="can_update_hv" value="{{ form.can_update.data }}">
              <input type="checkbox" id="can_update" class="action-checkbox" title="Can update users/customers/tasks."><b> Update </b>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <input type='hidden' id="can_delete_hv" name="can_delete_hv" value="{{ form.can_delete.data }}">
              <input type="checkbox" id="can_delete" class="action-checkbox" title="Can delete users/customers/tasks."><b> Delete </b>
          </div>
      </div>&nbsp;&nbsp;&nbsp;
      </p>
      <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
    </form>
{% endblock %}
</div>
