{% extends "index.html" %}
{% block title %}Users{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        {% if current_user.name == 'admin': %}
          <th class="col-md-1">&nbsp;</th>
        {% endif %}
          <th class="column-header">Name</th>
          <th class="column-header">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in query_users: %}
          <tr>
            {% if current_user.name == 'admin': %}
              <td>
              <a href="/users/edit/{{ user.id }}">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <a href="/users/delete/{{ user.id }}" class='confirmDeleteUser' data-userid="{{ user.id }}">
                  <span class="glyphicon glyphicon-trash"></span>
              </a>
              </td>
            {% endif %}
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}


