<div id="withdrawSavingsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        			<h3 id="withdrawModalLabel">Withdraw Savings?</h3>
        	</div>
        	<form id="withdrawSavingsForm" action='/savings/contributions/savingswithdraw' method="POST">
            	<div class="modal-body">
            	    <label for="customerName">Name:</label>
            	    <input type="hidden" name="customerId" id="customerId" value="" />
                    <input type="text" name="customerName" id="customerName" value="" readonly/>
                    <label for="amountValue">Amount:</label>
                    <input type="text" name="amountValue" id="amountValue" value="" readonly/>
            	</div>
            	<div class="modal-footer">
            		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            		<button id="saveChanges" type="submit" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">OK</button>
            	</div>
            </form>
        </div>
	</div>
  </div>
  <div id="ConfirmDeleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        			<h3 id="confirmDeleteLabel">Delete Record?</h3>
        	</div>
        	<form id="deleteForm" method="POST">
            	<div class="modal-body">
            	    <label for="name">Are you sure want to delete this record?   </label>
            	    <input type="hidden" name="id" id="id" value="" />
                    <input type="hidden" name="url" id="url" value="" />
                    <input type="text" name="name" id="name" value="" readonly/>
            	</div>
            	<div class="modal-footer">
            		<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            		<button id="okdelete" name="okdelete" type="submit" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Yes</button>
            	</div>
            </form>
        </div>
	</div>
  </div>