{% extends "index.html" %}
{% include "modalform.html" %}
{% block title %}Customers{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<ul class="nav nav-tabs actions-nav">
  <li class="active">
    <a href="#">List ({{ query_customers.count() }})</a>
  </li>
  {% if  current_user.can_create: %}
  <li>
    <a href="/customers/new/" title="Create New Customer">Create</a>
  </li>
  {% endif %}
</ul>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        {% if  current_user.can_update or current_user.can_delete: %}
          <th class="col-md-1"></th>
        {% endif %}
          <th class="column-header">Name</th>
          <th class="column-header"># of Shares</th>
          <th class="column-header">Email</th>
          <th class="column-header">Contact #</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in query_customers: %}
          <tr>
              {% if current_user.can_update or current_user.can_delete: %}
              <td align="center">
                {% if current_user.can_update: %}
                    <a href="/customers/edit/{{ customer.id }}/" data-toggle="tooltip" title="Edit Customer: {{ customer.name }}">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                {% endif %}
                {% if current_user.can_delete : %}
                    <a href="#ConfirmDeleteModal" role="button" data-toggle="modal" class='confirmDelete' data-url="/customers/delete/" data-id="{{ customer.id }}" data-name="{{ customer.name }}" title="Delete Customer: {{ customer.name }}">
                     <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% endif %}
              </td>
              {% endif %}
              <td>{{ customer }}</td>
              <td>{{ customer.number_shares }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.mobile_phone }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}

