{% extends "index.html" %}
{% block title %}Edit Customer{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<ul class="nav nav-tabs actions-nav">
  <li>
    <a href="/customers" title="List of Customers">List</a>
  </li>
  {% if  current_user.can_create: %}
  <li>
    <a href="/customers/new" title="Create New Customer">Create</a>
  </li>
  {% endif %}
  {% if  current_user.can_update: %}
  <li class="active">
    <a href="#" title="Edit Customer">Edit</a>
  </li>
  {% endif %}
</ul>
    <form class="form-signin form-horizontal col-md-6" role="form" method="post" action="">
      {{ form.csrf_token }}
      <p>
        {{ form.first_name(type="text", class="form-control", autofocus="true", placeholder="First Name", disabled="disabled") }}
      </p>
      <p>
        {{ form.last_name(type="text", class="form-control", placeholder="Last Name", disabled="disabled") }}
      </p>
      <p>
        {{ form.number_shares(type="text", class="form-control", placeholder="Number of Shares") }}
        <span class="error">
          {% if form.number_shares.errors %}
            {% for error in form.number_shares.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
      {{ form.email(type="text", class="form-control", placeholder="Email Address") }}
        <span class="error">
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
        {{ form.address(type="text", class="form-control", placeholder="Address") }}
        <span class="error">
          {% if form.address.errors %}
            {% for error in form.address.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
        {{ form.mobile_phone(type="text", class="form-control", placeholder="Cellular Number") }}
        <span class="error">
          {% if form.mobile_phone.errors %}
            {% for error in form.mobile_phone.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>

      <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
    </form>
{% endblock %}

