{% extends "index.html" %}
{% from "formhelpers.html" import render_field %}
{% block title %}Edit Customer{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<div>
<ul class="nav nav-tabs actions-nav">
  <li>
    <a href="/customers/" title="List of Customers">List</a>
  </li>
  {% if  current_user.can_create: %}
  <li>
    <a href="/customers/new/" title="Create New Customer">Create</a>
  </li>
  {% endif %}
  {% if  current_user.can_update: %}
  <li class="active">
    <a href="#" title="Edit Customer">Edit</a>
  </li>
  {% endif %}
</ul>
    <form class="form-signin form-horizontal col-md-6" role="form" method="post" action="">
      {{ form.csrf_token }}
      <label for="first_name">First Name</label>
      <p>
        {{ form.first_name(type="text", class="form-control", autofocus="true") }}
      </p>
      <label for="last_name">Last Name</label>
      <p>
        {{ form.last_name(type="text", class="form-control") }}
      </p>
      <label for="number_shares">Number of Shares</label>
      <p>
        {{ render_field(form.number_shares, type="text", class="form-control") }}
      </p>
      <label for="email">Email Address</label>
      <p>
      {{ render_field(form.email, type="text", class="form-control") }}
      </p>
      <label for="address">Address</label>
      <p>
        {{ render_field(form.address, type="text", class="form-control") }}
      </p>
      <label for="mobile_phone">Cellular Number</label>
      <p>
        {{ render_field(form.mobile_phone, type="text", class="form-control") }}
      </p>
      <p>
      <input type='hidden' id="is_member_hv" name="is_member_hv" value="{{ form.is_member.data }}">
      <label class="checkbox-inline"><input type="checkbox" id="is_member" class="action-checkbox" title="Member of the band.">Is Member?</label>
      </p>
      <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
    </form>
{% endblock %}
</div>
