{% extends "index.html" %}
{% from "formhelpers.html" import render_field %}
{% block title %}Add Customer{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<ul class="nav nav-tabs actions-nav">
  <li>
    <a href="/customers" title="List of Customers">List</a>
  </li>
  {% if  current_user.can_create: %}
  <li class="active">
    <a href="#" title="Create New Customer">Create</a>
  </li>
  {% endif %}
</ul>
    <form class="form-signin col-md-6" role="form" method="post" action="">
      {{ form.csrf_token }}
      <p>
        {{ render_field(form.first_name, type="text", class="form-control", autofocus="true", placeholder="First Name") }}
      </p>
      <p>
        {{ render_field(form.last_name, type="text", class="form-control", placeholder="Last Name") }}
      <p>
        {{ render_field(form.number_shares, type="text", class="form-control", placeholder="Number of Shares") }}
      </p>
      <p>
        {{ render_field(form.email, type="text", class="form-control", placeholder="Email Address") }}
      </p>
      <p>
        {{ render_field(form.address, type="text", class="form-control", placeholder="Address") }}
      </p>
      <p>
        {{ render_field(form.mobile_phone, type="text", class="form-control", placeholder="Cellular Number") }}
      </p>

      <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
    </form>
{% endblock %}

