{% extends "index.html" %}
{% block title %}Edit Password{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<div class="col-sm-offset-3 main">
<ul class="nav nav-tabs actions-nav">
  <li class="active">
    <a href="#" title="Change Password">Change Password</a>
  </li>

  <li>
    <a href="/editemail">Change Email</a>
  </li>
</ul>
    <form class="form-signin form-horizontal col-md-6" role="form" method="post" action="">
      {{ form.csrf_token }}
      <p>
      {{ form.password(type="password", autofocus="true", class="form-control", placeholder="Current Password") }}
        <span class="error">
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
      {{ form.newpassword(type="password", class="form-control", placeholder="New Password") }}
        <span class="error">
          {% if form.newpassword.errors %}
            {% for error in form.newpassword.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
      {{ form.confirm(type="password", class="form-control", placeholder="Confirm Password") }}
        <span class="error">
          {% if form.confirm.errors %}
            {% for error in form.confirm.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
        &nbsp;&nbsp;&nbsp;
    <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
    </form>
{% endblock %}
</div>
