{% extends "index.html" %}
{% from "formhelpers.html" import render_field %}
{% block title %}Edit Email{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<div>
<ul class="nav nav-tabs actions-nav">
  <li>
    <a href="/editpassword" title="Change Password">Change Password</a>
  </li>

  <li class="active">
    <a href="#">Change Email</a>
  </li>
</ul>
    <form class="form-signin form-horizontal col-md-6" role="form" method="post" action="">
      {{ form.csrf_token }}
      <p>
      {{ render_field(form.email, type="text", class="form-control", placeholder="Current Email") }}
      </p>
      <p>
      {{ render_field(form.newemail, type="text", autofocus="true", class="form-control", placeholder="New Email") }}
      </p>
      <p>
      {{ render_field(form.confirm, type="text", class="form-control", placeholder="Confirm Email") }}
      </p>
        &nbsp;&nbsp;&nbsp;
    <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
    </form>
{% endblock %}
</div>
