{% extends "index.html" %}
{% from "formhelpers.html" import render_field %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
    {% block guestcontent %}
    <div class="container">
        <form class="form-signin" role="form" method="post" action="">
          {{ form.csrf_token }}
            <h2 class="form-sign-heading">Please login</h2>
          <div class="well">
              <p>
                {{ render_field(form.username, type="text", class="form-control", autofocus="true", placeholder="username") }}
              </p>
              <p>
                {{ render_field(form.password, type="password", class="form-control", placeholder="password") }}
              </p>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <br />
              <p>
                  Not yet signed up? Please <a href="/register">register for an account.</a>
              </p>
          </div>
        </form>
    </div>
    {% endblock %}
{% endblock %}