{% extends "index.html" %}
{% from "formhelpers.html" import render_field %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
    {% block guestcontent %}
        <form class="form-signin" role="form" method="post" action="">
          {{ form.csrf_token }}
            <h2 class="form-sign-heading">{{ instruction }}</h2>
          <p>
            {{ render_field(form.username, type="text", class="form-control", autofocus="true", placeholder="username") }}
          </p>
          <p>
            {{ render_field(form.email, type="text", class="form-control", placeholder="email") }}
          </p>
          <p>
            {{ render_field(form.password, type="password", class="form-control", placeholder="password") }}
          </p>
          <p>
            {{ render_field(form.confirm, type="password", class="form-control", placeholder="confirm") }}
          </p>
          <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
        </form>
    {% endblock %}
{% endblock %}