{% extends "index.html" %}
{% from "formhelpers.html" import render_field %}
{% block title %}Edit Loan{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  {{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<div>
<ul class="nav nav-tabs actions-nav">
  <li>
    <a href="{{ url_for('loans.loans') }}" title="List of Loans">List</a>
  </li>
  {% if  current_user.can_create: %}
  <li>
    <a href="{{ url_for('loans.newloans') }}" title="Create New Loan">Create</a>
  </li>
  {% endif %}
  {% if  current_user.can_update: %}
  <li class="active">
    <a href="#">Edit</a>
  </li>
    {% endif %}
</ul>
    <form class="well" role="form" method="post" action="">
      {{ form.csrf_token }}
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
          <label>Customer Name</label>
          <p>
            {{ render_field(form.customer_name, type="text", class="form-control") }}
          </p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
          <label>Co-maker Name</label>
          <p>
            {{ render_field(form.comaker_name, type="text", class="form-control") }}
          </p>
        </div>
      </div>
        <div class="row">
          <div class="col-6 col-sm-6 col-lg-4">
            <label>Amount</label>
            <p>
              {{ render_field(form.amount, type="text", class="form-control") }}
            </p>
          </div>
          <div class="col-6 col-sm-6 col-lg-4">
          <label>Date Release</label>
          <div class="input-group date" id="dp3" style="width:75%;" data-date-format="mm-dd-yyyy">
            <input class="form-control input-sm" type="text" readonly="" name="date_rel" id="date_rel" value="{{ form.date_release.data }}" >
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>

        </div>
      <div class="row">
          <div class="col-6 col-sm-6 col-lg-4">
            <label>Interest per Month</label>
            <p>
              {{ render_field(form.interest, type="text", class="form-control") }}
            </p>
            <input type="hidden" id="interest_hv" value="{{ form.interest.data }}">
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
              <label>Date Due</label>
              <div class="input-group date" id="divdate_due" style="width:75%;" data-date-format="mm-dd-yyyy">
                <input class="form-control input-sm" type="text" readonly="" name="date_due" id="date_due" value="{{ form.date_due.data }}" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
      </div>
      <div class="row">
          <div class="col-6 col-sm-6 col-lg-4">
            <label>Payment</label>
            <p>
              {{ form.payment(type="text", class="form-control") }}
            </p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <label>Total Payable</label>
            {{ render_field(form.total_payable, type="text", class="form-control", readonly="true") }}
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
            <label>Total Payment</label>
            {{ render_field(form.total_payment, type="text", class="form-control", readonly="true") }}
            <input type="hidden" id="total_payment_hv" value="{{ form.total_payment.data }}">
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
            <label>Outstanding Balance</label>
            {{ render_field(form.outstanding_balance, type="text", class="form-control", readonly="true") }}
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
          <label>Fully Paid On</label>
          <div class="input-group date" id="divdate_fullypaid" style="width:75%;" data-date-format="mm-dd-yyyy">
            <input class="form-control input-sm" type="text" readonly="" name="date_fullypaid" id="date_fullypaid" value="{{ form.fully_paid_on.data }}" >
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
        <br />
        <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
{% endblock %}
</div>
