{% extends "index.html" %}
{% include "modalform.html" %}
{% block title %}Loans{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<ul class="nav nav-tabs actions-nav">
  <li class="active">
    <a href="#">List ({{ query_loans.count() }})</a>
  </li>
  {% if  current_user.can_create: %}
  <li>
    <a href="/loans/new" title="Create New Loan">Create</a>
  </li>
  {% endif %}
</ul>
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        {% if  current_user.can_update or current_user.can_delete: %}
          <th class="col-md-1"></th>
        {% endif %}
          <th class="column-header"><a id="loans_sortname" href="/loans/?name=desc">Name</a></th>
          <th class="column-header"><a id="loans_sortamount" href="/loans/?amount=desc">Amount</a></th>
          <th class="column-header"><a id="loans_sortinterest" href="/loans/?interest=desc">Interest</a></th>
          <th class="column-header"><a id="loans_sorttpayable" href="/loans/?total_payable=desc">Total Payable</a></th>
          <th class="column-header"><a id="loans_sorttpayment" href="/loans/?total_payment=desc">Total Payment</a></th>
          <th class="column-header"><a id="loans_sortoutbal" href="/loans/?outstanding_balance=desc">Outstanding Balance</a></th>
      </tr>
    </thead>
    <tbody>
      {% for loan, customer in query_loans: %}
          <tr>
              {% if current_user.can_update or current_user.can_delete : %}
              <td align="center">
                {% if current_user.can_update: %}
                <a href="/loans/edit/{{ loan.id }}" data-toggle="tooltip" title="Edit Loan: {{ customer.name }}">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% endif %}
                {% if current_user.can_delete : %}
                  <a href="#ConfirmDeleteModal" role="button" data-toggle="modal" class='confirmDelete' data-url="/loans/delete" data-id="{{ loan.id }}" data-name="{{ customer.name }}" title="Delete Loan of Customer: {{ customer.name }}">
                      <span class="glyphicon glyphicon-trash"></span>
                  </a>
              {% endif %}
              </td>
              {% endif %}
              <td>{{ customer.name }}</td>
              <td>{{ loan.amount }}</td>
              <td>{{ loan.interest }}</td>
              <td>{{ loan.total_payable }}</td>
              <td>{{ loan.payment }}</td>
              <td>{{ loan.outstanding_balance }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}

