{% extends "index.html" %}
{% include "modalform.html" %}
{% block title %}Loans{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
{% endblock %}
{% block container %}
{{ super() }}
{% endblock %}
{% block membercontent %}
<ul class="nav nav-tabs actions-nav">
  <li class="active">
    <a href="#">List ({{ query_loans|length }})</a>
  </li>
  {% if  current_user.can_create: %}
  <li>
    <a href="{{ url_for('loans.newloans')}}" title="Create New Loan">Create</a>
  </li>
  {% endif %}
</ul>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        {% if  current_user.can_update or current_user.can_delete: %}
          <th class="col-md-1"></th>
        {% endif %}
          {% for key, value in columns.items() %}
              <th class="column-header"><a id="loans_sort{{ key }}" href="/loans/?{{ key }}={{ sort_order }}" title="Sort by {{ value }}">{{ value }}
                  {% if sort_order == 'desc' %}
                    <span class="glyphicon glyphicon-chevron-up"></span>
                  {% elif sort_order == 'asc' %}
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  {% endif %}
              </a></th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for loan in query_loans: %}
          <tr>
              {% if current_user.can_update or current_user.can_delete : %}
              <td align="center">
                {% if current_user.can_update: %}
                <a href="{{ url_for('loans.editloans', id=loan.id) }}" data-toggle="tooltip" title="Edit Loan: {{ loan.customer.name }}">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
                {% endif %}
                {% if current_user.can_delete : %}
                  <a href="#ConfirmDeleteModal" role="button" data-toggle="modal" class='confirmDelete' data-url="/loans/delete/" data-id="{{ loan.id }}" data-name="{{ loan.customer.name }}" data-amount="{{ loan.amount }}" title="Delete Loan of Customer: {{ loan.customer.name }}">
                      <span class="glyphicon glyphicon-trash"></span>
                  </a>
              {% endif %}
              </td>
              {% endif %}
              <td>{{ loan.customer.name }}</td>
              <td>{{ "{:,.2f}".format(loan.amount) }}</td>
              <td>{{ "{:,.2f}%".format(loan.interest) }}</td>
              <td>{{ "{:,.2f}".format(loan.total_payable) }}</td>
              <td>{{ "{:,.2f}".format(loan.payment) }}</td>
              <td>{{ "{:,.2f}".format(loan.outstanding_balance) }}</td>
          </tr>
           {% if loop.last %}
                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr>
                    <td align="center">Total:</td>
                    <td>&nbsp;</td>
                    <td align="center">{{ "₱{:,.2f}".format(query_loans|sum(attribute='amount')) }}</td>
                    <td>&nbsp;</td>
                    <td>{{ "₱{:,.2f}".format(query_loans|sum(attribute='total_payable')) }}</td>
                    <td>{{ "₱{:,.2f}".format(query_loans|sum(attribute='total_payment')) }}</td>
                    <td>{{ "₱{:,.2f}".format(query_loans|sum(attribute='outstanding_balance')) }}</td>
                </tr>
            {% endif %}
      {% endfor %}

    </tbody>
  </table>
  {% endblock %}

